[Desktop Entry]
Name=wmpload
Comment=PPP network monitor for Window Maker Dock
Comment[pl]=Monitor połączeń PPP dla Doku Window Makera
Exec=wmpload
Terminal=0
Type=Application
# vi: encoding=utf-8
