[Desktop Entry]
Name=WmPload
Comment=PPP network monitor for Window Maker Dock
Comment[pl]=Monitor połączeń PPP dla Doku Window Makera
Exec=wmpload
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
